{{#if genericError}}
  <div class="alert alert-danger" role="alert">
    {{genericError}}
  </div>
{{/if}}

{{#if genericSuccess}}
  <div class="alert alert-success" role="alert">
    {{genericSuccess}}
  </div>
{{/if}}