<form action="/comments/{{this.category.flag}}/{{this.id}}" method="POST" class="mb-4 bg-light p-2">
  <div class="form-group">
    <textarea name="body" type="text" class="form-control" id="body" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary btn-outline btn-sm">
    Add comment
  </button>
</form>