<div class="card col col-3 mb-2 mt-2">
    <div class="card-body">
        <h5 class="card-title"><b>{{this.title}}</b></h5>
        <p><i class="card-text">{{this.createdAt}}</i></p>
        <h6 class="card-subtitle"><b>Author: </b>{{this.author.fullname}}</h6>
    </div>
</div>