<h1 class="text-center mt-2">Welcome <i>{{currentUser.fullname}}</i></h1>

<div class="col col-12 mb-2 mt-2">
    <a href="/documents/new" class="btn btn-success"><i class="fa fa-plus"></i> New Document</a>
</div>

<div class="m-3">
    {{#if docs}}
    <div class="row m-4">
        {{#each docs as |doc|}}
            {{>docuCard doc}}
        {{/each}}
    </div>
    {{else}}
        <h5>No documents found</h5>
    {{/if}}
</div>