<h1 class="text-center mt-2">Welcome <i>{{currentUser.fullname}}</i></h1>

<div class="col col-12 mb-2 mt-2">
    <a href="/documents/new" class="btn btn-success"><i class="fa fa-plus"></i> New Document</a>
    <a href="/users/edit" class="btn btn-info"><i class="fa fa-user-circle-o"></i> Edit Profile</a>

</div>



<div class="col col-8">
    <h3>Last documents added to your department:</h3>
</div>


<div class="d-flex flex-row justify-content-around">
    {{#if docs}}
        {{#each docs as |doc|}}
            {{>docuCard doc}}
        {{/each}}
    {{else}}
        <h5>No documents found</h5>
    {{/if}}
</div>